<html>
	<head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    </head>
	<style>
		body{
			background-image: url("{{ url_for('static', filename='img_1.jpg') }}");
			background-attachment: fixed;
			text-align: center;
			}
		</style>
	<body>
		<div class="topnav">
			<a href="{{ url_for('home') }}">Home</a>
			<a href="{{ url_for('breast_cancer') }}">Breast Cancer Prediction</a>
			<a href="{{ url_for('diabetes') }}">Diabetes Prediction</a>
			<a href="{{ url_for('liver') }}">Liver Disease Prediction</a>
			<a style="float:right" href="{{ url_for('about') }}">About</a>
		</div>

		<section>
			<h1 style = "font-size: 48px;   
			font-family: 'georgia';   
			font-weight: bold;   
			text-align: center;
			border-style: solid;
  			border-color: rgb(248, 250, 248);
			border-radius: 25px;">Disease Prediction System</h1>
			<div>
				<p  style = "font-size: 28px;   
				font-family: 'Arial, Helvetica, sans-serif';   
				color: #6Cf;
				font-weight: bold;   
				text-align: center;
				border-style: solid;
				  border-color: rgb(248, 250, 248);
				  border-radius: 25px;">
					Welcome to a diseasae predicting web application that take symptoms and measurement and return 
					diagnosis using various maachine learning models
				</p>
			</div>

		</section>
		<footer>

		</footer>
	</body>
</html> 