<html>
	<head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
		<style>
			body{
				background-image: url("{{ url_for('static', filename='img_1.jpg') }}");
				background-attachment: fixed;
				text-align: center;
				}
			</style>
    </head>
	<body>
		<div class="topnav">
			<a href="{{ url_for('home') }}">Home</a>
			<a href="{{ url_for('breast_cancer') }}">Breast Cancer Prediction</a>
			<a href="{{ url_for('diabetes') }}">Diabetes Prediction</a>
			<a href="{{ url_for('liver') }}">Liver Disease Prediction</a>
			<a style="float:right" href="{{ url_for('about') }}">About</a>
		</div>

		<section style="font-size: 17px;font-family: Arial, Helvetica, sans-serif;font-weight: bold">
			<h1> From the gathered information, it is concluded that the patient in question:</h1>
		   <h2> {{result}}</h2>
		</section>
		<footer>

		</footer>
	</body>
</html>